PORT=4000
MONGO_URI=mongodb+srv://srini:Srini%40123@openrank.8fva35h.mongodb.net/openrank?retryWrites=true&w=majority
CLIENT_URLS=https://openrank-3usi.onrender.com
SESSION_SECRET=sk_9x8a7sd6f5a4s3d2f1gh0jklmnop
GITHUB_CLIENT_ID=Ov23liWQZkNEQwdBCwEL
GITHUB_CLIENT_SECRET=e447a099fcae5d74a9a55773885e38cac5292a3b
GITHUB_API_TOKEN=
CALLBACK_URL=https://openrank-3usi.onrender.com/auth/github/callback
